<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="{{ asset("bundles/intake/css/bootstrap.min.css") }}" rel="stylesheet">
    {% block stylesheets %}
        <link href="{{ asset('bundles/intake/css/style.css') }}" rel="stylesheet">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

</head>
<body>
<div class="body">
    <header>
        <nav class="navbar bgColor">
            <div class="container">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <img src="{{ asset('bundles/intake/img/logo.svg') }}" alt="Symfony!"
                         href="{{ path('intake_default_index') }}">
                </a>
            </div>
            <div class="nav">
                <div class="row">
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="header-font nav-link" href="{{ path('fos_user_security_logout') }}">
                                {{ 'logout' }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="header-font nav-link" href="{{ path('studie_index') }}">
                                {{ 'intakes' }}
                            </a>
                        </li>
                        <li class="nav-link">
                            <p class="header-font float-right"> welkom {{ app.User }}</p>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="header-font nav-link" href="{{ path('fos_user_security_login') }}">
                                {{ 'login' }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="header-font nav-link" href="{{ path('fos_user_registration_register') }}">
                                {{ 'register' }}
                            </a>
                        </li>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    <div class="container full-height">
        {% block body %}{% endblock %}
    </div>
</div>
{% block javascripts %}{% endblock %}
</body>
<footer class="footer">
    <p>
        @copyright
    </p>
</footer>
</html>
